<div id="home">
<div class="landing-text">

<h1>Welcome to Rent It 
</h1>
<h3>
    The online market place to rent properties!
</h3>
<a href="#" class="btn btn-default btn-lg">Get started</a>

</div>
</div>
<div class="padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <img src="../../../assets/bootstrap.png">
            </div>
            <div class="col-sm-6 text-center">
                <h2>All about Using Angular</h2>
                <p class="lead">
                    Contrary to popular belief, Lorem Ipsum is not simply random text. 
                    It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. 
                    
                </p>
                <p class="lead">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <h4>Built with Sass</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Suspendisse ac nunc in erat posuere gravida et posuere ante. 
                    Aliquam nulla quam, elementum eu quam id, pretium venenatis nisl. 
                    Morbi dictum nisi sit amet imperdiet luctus.
                    
                </p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <img src="../../../assets/sass.png" class="img-responsive">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <h4>And Less</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Suspendisse ac nunc in erat posuere gravida et posuere ante. 
                    Aliquam nulla quam, elementum eu quam id, pretium venenatis nisl. 
                   
                </p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <img src="../../../assets/less.png">
            </div>
        </div>
    </div>
</div>
<div id="fixed">
</div>
    <div class="padding">
        <div class="container">
            <div class="row">
                    <div class="col-sm-6">
                            <h4>Here's a cool thing about Using Bootstrap</h4>
                            <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                    Suspendisse ac nunc in erat posuere gravida et posuere ante. 
                                    Aliquam nulla quam, elementum eu quam id, pretium venenatis nisl. 
                                    Morbi dictum nisi sit amet imperdiet luctus. 
                                    Phasellus tempus est id varius elementum. 
                                    
                            </p>
                            <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                    Suspendisse ac nunc in erat posuere gravida et posuere ante. 
                                    Aliquam nulla quam, elementum eu quam id, pretium venenatis nisl. 
                                    Morbi dictum nisi sit amet imperdiet luctus. 
                                    Phasellus tempus est id varius elementum. 
                                   
                            </p>
                        </div>
                <div class="col-sm-6">
                    <img src="../../../assets/bootstrap2.png">
                </div>
                
            </div>
        </div>
   
    
</div>
<footer class="container-fluid texti-center">
    <div class="row">
         <div class="col-sm-4">
            <h3>Contact Us</h3>
            <br>
            <h4>We live in the parallel universe</h4>
         </div>
         <div class="col-sm-4">
             <h3>Connect</h3>
             <a href="#" class="fab fa-facebook ff"></a>
             <a href="#" class="fab fa-twitter ff"></a>
             <a href="#" class="fab fa-google ff"></a>
             <a href="#" class="fab fa-instagram ff"></a>
            </div>
        <div class="col-sm-4">
          <img src="../../../assets/b.png" class="icon">   
        </div>
    </div>
    
</footer>